/* BASE.HTML STYLES */

body {
  background-color: #ccd5ae;
}

header {
  display: flex;
  justify-content: space-evenly;
}

nav {
  width: 30%;
}

header,
footer {
  background-color: #84a59d;
}

/* END OF BASE.HTML STYLES */

/* INDEX.HTML STYLES */

/* END OF INDEX.HTML STYLES */
