
/*===========================
    2.HEADER css 
===========================*/
/*===== NAVBAR ONE =====*/
.navgition {
    padding: 10px 0;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s; }
    .navgition.navgition-transparent {
      background-color: transparent;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 99; }
    .navgition.sticky {
      position: fixed;
      background-color: #fff;
      -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
      -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
      -webkit-transition: all 0.3s ease-out 0s;
      -moz-transition: all 0.3s ease-out 0s;
      -ms-transition: all 0.3s ease-out 0s;
      -o-transition: all 0.3s ease-out 0s;
      transition: all 0.3s ease-out 0s; }
    .navgition .navbar {
      position: relative;
      padding: 0; }
      .navgition .navbar .navbar-toggler .toggler-icon {
        width: 30px;
        height: 2px;
        background-color:#3a3a3a;
        margin: 5px 0;
        display: block;
        position: relative;
        -webkit-transition: all 0.3s ease-out 0s;
        -moz-transition: all 0.3s ease-out 0s;
        -ms-transition: all 0.3s ease-out 0s;
        -o-transition: all 0.3s ease-out 0s;
        transition: all 0.3s ease-out 0s; }
      .navgition .navbar .navbar-toggler.active .toggler-icon:nth-of-type(1) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        top: 7px; }
      .navgition .navbar .navbar-toggler.active .toggler-icon:nth-of-type(2) {
        opacity: 0; }
      .navgition .navbar .navbar-toggler.active .toggler-icon:nth-of-type(3) {
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        transform: rotate(135deg);
        top: -7px; }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .navgition .navbar .navbar-collapse {
          position: absolute;
          top: 116%;
          left: 0;
          width: 100%;
          background-color: #fff;
          z-index: 8;
          padding: 10px 0;
          -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
          -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16); } }
      @media (max-width: 767px) {
        .navgition .navbar .navbar-collapse {
          position: absolute;
          top: 116%;
          left: 0;
          width: 100%;
          background-color: #fff;
          z-index: 8;
          padding: 10px 0;
          -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
          -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16); } }
      .navgition .navbar .navbar-nav .nav-item {
        margin: 0 16px;
        position: relative; }
        .navgition .navbar .navbar-nav .nav-item a {
          font-size: 16px;
          line-height: 24px;
          font-weight: 700;
          padding: 26px 0;
          color: #3a3a3a;
          text-transform: uppercase;
          position: relative;
          -webkit-transition: all 0.3s ease-out 0s;
          -moz-transition: all 0.3s ease-out 0s;
          -ms-transition: all 0.3s ease-out 0s;
          -o-transition: all 0.3s ease-out 0s;
          transition: all 0.3s ease-out 0s; }
          @media only screen and (min-width: 768px) and (max-width: 991px) {
            .navgition .navbar .navbar-nav .nav-item a {
              padding: 10px 0;
              display: block; } }
          @media (max-width: 767px) {
            .navgition .navbar .navbar-nav .nav-item a {
              padding: 10px 0;
              display: block; } }
          .navgition .navbar .navbar-nav .nav-item a::before, .navgition .navbar .navbar-nav .nav-item a::after {
            position: absolute;
            content: '';
            width: 8px;
            height: 4px;
            background-color: #84A59D;
            left: 50%;
            margin: 0 2px;
            bottom: 14px;
            opacity: 0;
            -webkit-transition: all 0.3s ease-out 0s;
            -moz-transition: all 0.3s ease-out 0s;
            -ms-transition: all 0.3s ease-out 0s;
            -o-transition: all 0.3s ease-out 0s;
            transition: all 0.3s ease-out 0s; }
            @media only screen and (min-width: 768px) and (max-width: 991px) {
              .navgition .navbar .navbar-nav .nav-item a::before, .navgition .navbar .navbar-nav .nav-item a::after {
                display: none; } }
            @media (max-width: 767px) {
              .navgition .navbar .navbar-nav .nav-item a::before, .navgition .navbar .navbar-nav .nav-item a::after {
                display: none; } }
          .navgition .navbar .navbar-nav .nav-item a::after {
            left: auto;
            right: 50%; }
        .navgition .navbar .navbar-nav .nav-item.active > a, .navgition .navbar .navbar-nav .nav-item:hover > a {
          color: #84A59D; }
          .navgition .navbar .navbar-nav .nav-item.active > a::before, .navgition .navbar .navbar-nav .nav-item.active > a::after, .navgition .navbar .navbar-nav .nav-item:hover > a::before, .navgition .navbar .navbar-nav .nav-item:hover > a::after {
            opacity: 1; }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .navgition .navbar .navbar-social {
          position: absolute;
          right: 70px;
          top: 7px; } }
      @media (max-width: 767px) {
        .navgition .navbar .navbar-social {
          position: absolute;
          right: 60px;
          top: 7px; } }
      .navgition .navbar .navbar-social span {
        font-size: 16px;
        font-weight: 700;
        color: #6c6c6c;
        line-height: 24px;
        margin-right: 14px; }
      .navgition .navbar .navbar-social ul li {
        display: inline-block;
        margin-right: 5px; }
        .navgition .navbar .navbar-social ul li a {
          font-size: 32px;
          text-transform: uppercase;
          font-weight: 700;
          color: #6c6c6c;
          border-radius: 4px;
          -webkit-transition: all 0.3s ease-out 0s;
          -moz-transition: all 0.3s ease-out 0s;
          -ms-transition: all 0.3s ease-out 0s;
          -o-transition: all 0.3s ease-out 0s;
          transition: all 0.3s ease-out 0s; }
          .navgition .navbar .navbar-social ul li a:hover {
            color: #84A59D; }
  
  .header-hero {
    height: 850px;
    position: relative; }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .header-hero {
        height: 700px; } }
    @media (max-width: 767px) {
      .header-hero {
        height: 650px; } }
    .header-hero::before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: -webkit-linear-gradient(rgba(232, 237, 255, 0.9), rgba(239, 254, 255, 0.9) 50%, rgba(254, 255, 244, 0.3) 68%, rgba(255, 255, 255, 0.12));
      background: -o-linear-gradient(rgba(232, 237, 255, 0.9), rgba(239, 254, 255, 0.9) 50%, rgba(254, 255, 244, 0.3) 68%, rgba(255, 255, 255, 0.12));
      background: linear-gradient(rgba(232, 237, 255, 0.9), rgba(239, 254, 255, 0.9) 50%, rgba(254, 255, 244, 0.3) 68%, rgba(255, 255, 255, 0.12)); }
    .header-hero .header-content {
      padding-top: 195px;
      position: relative;
      z-index: 9; }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .header-hero .header-content {
          padding-top: 130px; } }
      @media (max-width: 767px) {
        .header-hero .header-content {
          padding-top: 120px; } }
      .header-hero .header-content .header-title {
        font-size: 44px;
        line-height: 55px;
        color: #3a3a3a;
        font-weight: 600; }
        @media (max-width: 767px) {
          .header-hero .header-content .header-title {
            font-size: 30px;
            line-height: 40px; } }
      .header-hero .header-content .text {
        font-size: 20px;
        line-height: 32px;
        color: #6c6c6c;
        margin-top: 16px; }
        @media (max-width: 767px) {
          .header-hero .header-content .text {
            font-size: 16px;
            line-height: 24px; } }
      .header-hero .header-content .header-btn {
        margin-top: 22px; }
        .header-hero .header-content .header-btn li {
          display: inline-block;
          margin: 10px 10px 0; }
          .header-hero .header-content .header-btn li a.main-btn {
            border-radius: 50px;
            overflow: hidden;
            background-color: #fff;
            -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
            -moz-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
            box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
            border: 0;
            line-height: 50px; }
            .header-hero .header-content .header-btn li a.main-btn i {
              margin-left: 5px; }
            .header-hero .header-content .header-btn li a.main-btn.btn-one {
              color: #fff; }
              .header-hero .header-content .header-btn li a.main-btn.btn-one::before {
                position: absolute;
                content: '';
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background-image: -webkit-linear-gradient(left, #84A59D, #FFDD89);
                background-image: -o-linear-gradient(left, #84A59D, #FFDD89);
                background-image: linear-gradient(to right, #84A59D, #FFDD89);
                background-position: right center;
                z-index: -1;
                -webkit-transition: all 0.3s ease-out 0s;
                -moz-transition: all 0.3s ease-out 0s;
                -ms-transition: all 0.3s ease-out 0s;
                -o-transition: all 0.3s ease-out 0s;
                transition: all 0.3s ease-out 0s; }
              .header-hero .header-content .header-btn li a.main-btn.btn-one:hover::before {
                background-image: -webkit-linear-gradient(right, #84A59D, #FFDD89);
                background-image: -o-linear-gradient(right, #84A59D, #FFDD89);
                background-image: linear-gradient(to left, #84A59D, #FFDD89);
                background-position: left center;
                -webkit-transition: all none ease-out 0s;
                -moz-transition: all none ease-out 0s;
                -ms-transition: all none ease-out 0s;
                -o-transition: all none ease-out 0s;
                transition: all none ease-out 0s; }
            .header-hero .header-content .header-btn li a.main-btn.btn-two:hover {
              -webkit-box-shadow: 0 3px 25px 0 rgba(0, 0, 0, 0.16);
              -moz-box-shadow: 0 3px 25px 0 rgba(0, 0, 0, 0.16);
              box-shadow: 0 3px 25px 0 rgba(0, 0, 0, 0.16); }
    .header-hero .header-shape {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%; }
      .header-hero .header-shape img {
        width: 100%; }



/*===========================
       7.FOOTER css 
===========================*/
.footer-area {
    background-color: #CCD5AE; }
  
  .footer-widget {
    padding-top: 90px;
    padding-bottom: 120px; }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .footer-widget {
        padding-top: 70px;
        padding-bottom: 100px; } }
    @media (max-width: 767px) {
      .footer-widget {
        padding-top: 50px;
        padding-bottom: 80px; } }
  
  .footer-logo-support .footer-logo .social {
    margin-left: 35px; }
    .footer-logo-support .footer-logo .social li {
      display: inline-block;
      margin-right: 10px; }
      .footer-logo-support .footer-logo .social li a {
        font-size: 24px;
        color: #6c6c6c;
        -webkit-transition: all 0.3s ease-out 0s;
        -moz-transition: all 0.3s ease-out 0s;
        -ms-transition: all 0.3s ease-out 0s;
        -o-transition: all 0.3s ease-out 0s;
        transition: all 0.3s ease-out 0s; }
        .footer-logo-support .footer-logo .social li a:hover {
          color: #84A59D; }
  
  .footer-logo-support .footer-support span {
    font-size: 20px;
    line-height: 25px;
    color: #6c6c6c;
    font-weight: 600; }
    @media (max-width: 767px) {
      .footer-logo-support .footer-support span {
        display: block; } }
    .footer-logo-support .footer-support span.mail {
      margin-left: 32px; }
      @media (max-width: 767px) {
        .footer-logo-support .footer-support span.mail {
          margin-left: 0; } }
  
  .footer-title {
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    color: #6c6c6c; }
  
  .footer-link {
    margin-top: 32px; }
    .footer-link ul {
      margin-top: 8px; }
      .footer-link ul li a {
        font-size: 16px;
        line-height: 24px;
        color: #3a3a3a;
        margin-top: 16px;
        font-weight: 500;
        -webkit-transition: all 0.3s ease-out 0s;
        -moz-transition: all 0.3s ease-out 0s;
        -ms-transition: all 0.3s ease-out 0s;
        -o-transition: all 0.3s ease-out 0s;
        transition: all 0.3s ease-out 0s; }
        .footer-link ul li a:hover {
          color: #84A59D; }
  
  .footer-newsletter {
    margin-top: 32px; }
    .footer-newsletter .newsletter {
      margin-top: 24px;
      position: relative; }
      .footer-newsletter .newsletter input {
        width: 100%;
        height: 44px;
        border-radius: 50px;
        padding: 0 24px;
        border: 0;
        background-color: rgba(33, 33, 33, 0.12);
        font-weight: 500; }
        .footer-newsletter .newsletter input::placeholder {
          opacity: 1;
          color: #6c6c6c; }
        .footer-newsletter .newsletter input::-moz-placeholder {
          opacity: 1;
          color: #6c6c6c; }
        .footer-newsletter .newsletter input::-moz-placeholder {
          opacity: 1;
          color: #6c6c6c; }
        .footer-newsletter .newsletter input::-webkit-input-placeholder {
          opacity: 1;
          color: #6c6c6c; }
      .footer-newsletter .newsletter button {
        position: absolute;
        top: 0;
        right: 0;
        height: 44px;
        width: 44px;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
        border: 0;
        font-size: 20px;
        color: #3a3a3a;
        cursor: pointer;
        background: none; }
    .footer-newsletter .text {
      margin-top: 16px; }
  
  .footer-copyright {
    background-color: #84A59D; }
  
  .copyright {
    padding: 23px 0; }
    .copyright .text {
      color: #fff; }
  
  .back-to-top {
    position: fixed;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    text-align: center;
    background-color: #84A59D;
    bottom: 10px;
    right: 20px;
    z-index: 999;
    color: #fff;
    font-size: 20px;
    -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    display: none; }
    .back-to-top:hover {
      background-color: #84A59D;
      color: #fff; }