{% extends 'base.html' %}

{% block title %}
Assistance
{% endblock %}

{% block content %}
<h1>Hello, nice to meet you!</h1>
<form action="/apply" method="POST">
    <fieldset>
        <legend>Please fill out form below:</legend>

        <label for="first_name">What is your first name?</label>
        <input type="text" name="first_name" id="first_name">
        <br><br>
        
        <label for="last_name">What is your last name?</label>
        <input type="text" name="last_name" id="last_name">
        <br><br>
        
        <label for="email">What is your email?</label>
        <input type="text" name="email" id="email">
        <br><br>

        <h3>What kind of assistance do you need?</h3>

        <input type="checkbox" id="option1" name="option1" value="Food">
        <label for="option2"> Food</label><br>
        <input type="checkbox" id="option2" name="option2" value="Clothing">
        <label for=""> Clothing</label><br>
        <input type="checkbox" id="option3" name="option3" value="Hygiene">
        <label for="vehicle3"> Hygiene Items</label>
        <input type="submit" name="submit">
    </fieldset>
</form>
{% endblock %}