<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keyword" content="Right Hand, Resource Site, Spd Project" />
    <!-- Place Bootstrap Link Above For Styles -->
    <!-- mobile specific metas
   ================================================== -->
   <meta name="viewport" content="width=device-width, initial-scale=1">

   <!-- CSS
  ================================================== -->
   <link rel="stylesheet" href="css/base.css">
   <link rel="stylesheet" href="css/vendor.css">
   <link rel="stylesheet" href="css/main.css">

   <!-- script
  ================================================== -->
   <script src="{{ url_for('static', filename = 'js/modernizr.js')}}"></script>
   <script src="{{ url_for('static', filename = 'js/pace.min.js')}}"></script>

   <!-- favicons
 ================================================== -->
   <link rel="shortcut icon" href="{{ url_for('static', filename = 'styles/favicon.ico')}}" type="image/x-icon">
   <link rel="icon" href="{{ url_for('static', filename = 'styles/favicon.ico')}}" type="image/x-icon">


    <link
      rel="stylesheet"
      href="{{ url_for('static', filename = 'styles/style.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename = 'js/scripts.js')}}"
    />
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <header>
      <p>Helping hands site.</p>
      <nav>
        <ul>
          <li><a href="#">Homepage</a></li>
          <li><a href="#">Learn More</a></li>
          <li><a href="#">Pools</a></li>
        </ul>
      </nav>
    </header>
    {% block body %}{% endblock %}
    <footer>
      <small>EMAIL: myemail@email.com</small> <br />
      <small>PHONE: ###-###-####</small> <br />
      <small>123 Address Street</small>
    </footer>
  </body>
</html>
