<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keyword" content="Right Hand, Resource Site, Spd Project" />
    <meta
      name="author"
      content="Ignl Razin, Danika Gonzalez, Hani Jandali, Anita Bangali, Stanly"
    />
    <link
      rel="stylesheet"
      href="{{ url_for ('static', filename =
    'css/styles.css')}}"
    />
    <link
      rel="javascript"
      href="{{ url_for ('static', filename =
    'js/scripts.js')}}"
    />

    {% block head %}{% endblock %}
  </head>
  <body>
    <header>
      <p>Helping hands site.</p>
      <nav>
        <ul>
          <li><a href="#">Homepage</a></li>
          <li><a href="#">Learn More</a></li>
          <li><a href="#">Pools</a></li>
        </ul>
      </nav>
    </header>
    {% block body %}{% endblock %}
    <footer>
      <small>EMAIL: myemail@email.com</small> <br />
      <small>PHONE: ###-###-####</small> <br />
      <small>123 Address Street</small>
    </footer>
  </body>
</html>
