{% extends 'base.html' %}
<!-- ------------ -->

{% block title %} Home Page {% endblock %}

<!-- ------------ -->

{% block body %}

<div class="main-page-anchors" id="learn-more">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus asperiores,
    magni necessitatibus vitae blanditiis facere consectetur dolor! Eligendi
    quae expedita id, omnis, sequi repudiandae aperiam laudantium cupiditate ut
  </p>
</div>
<div class="main-page-anchors" id="resource-pools">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur
    repellendus asperiores illum delectus repellat perferendis facilis
    reiciendis expedita consequatur excepturi ratione provident molestias
    suscipit modi cum, quaerat perspiciatis corrupti odio fuga officia? Qui
  </p>
</div>

{% endblock %}
<!-- ------------ -->
