{% extends 'base.html' %}
<!-- ------------ -->

{% block head %} {% endblock%}

<!-- ------------ -->

{% block body %}

<div>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus asperiores,
    magni necessitatibus vitae blanditiis facere consectetur dolor! Eligendi
    quae expedita id, omnis, sequi repudiandae aperiam laudantium cupiditate ut
    animi earum officia explicabo sunt tempore veniam. Odio tenetur ex
    veritatis, nobis dolores doloremque incidunt maiores ducimus error officia
    illum sit libero?
  </p>
</div>
<div>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur
    repellendus asperiores illum delectus repellat perferendis facilis
    reiciendis expedita consequatur excepturi ratione provident molestias
    suscipit modi cum, quaerat perspiciatis corrupti odio fuga officia? Qui
    quibusdam molestiae unde, aspernatur veritatis atque, rerum in accusamus
    placeat doloribus voluptatem. Dolores ut ullam officia minima.
  </p>
</div>

{% endblock%}
<!-- ------------ -->
