{% extends 'index.html' %}

<!-- This is the First Block-->


{% block service %}
<div id="carousel" class="carousel slide" data-ride="carousel" data-interval="5000">
    <!-- Carousel Content -->
    <div class="carousel-inner">

        <div class="carousel-item active">
            <img src="{{ url_for('static', filename='assets/images/Bag.jpg') }}" alt="" class="w-100">
            <div class="carousel-caption">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-8 bg-custom d-none d-md-block py-3 px-0">
                            <h7>Real Items</h7>
                            <div class="border-top border-secondary w-50 mx-auto my-3"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="carousel-item">
            <img src="{{ url_for('static', filename='assets/images/Real_People_Children.jpg') }}" alt="" class="w-100">
            <div class="carousel-caption">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-8 bg-custom d-none d-md-block py-3 px-0">
                            <h7>Real People</h7>
                            <div class="border-top border-secondary w-50 mx-auto my-3"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="carousel-item">
            <img src="{{ url_for('static', filename='assets/images/Woman.jpg') }}" alt="" class="w-100">
            <div class="carousel-caption">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-8 bg-custom d-none d-md-block py-3 px-0">
                            <h7>Real change</h7>
                            <div class="border-top border-secondary w-50 mx-auto my-3"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- End Carousel Content -->


    <!-- Previous & Next Buttons -->
    <a href="#carousel" class="carousel-control-prev" role="button" data-slide="prev">
        <span class="fas fa-arrow-left fa-2x"></span>
    </a>

    <a href="#carousel" class="carousel-control-next" role="button" data-slide="next">
        <span class="fas fa-arrow-right fa-2x"></span>
    </a>
    <!-- End Previous & Next Buttons -->


<!-- End Image Carousel -->

    </div>

{% endblock %}

<!-- This is the Second Block-->
{% block user %}

<section id="call-to-action" class="call-to-action">
    <div class="call-action-image">
        <img src="{{ url_for('static', filename='assets/images/Canned_Goods.jpg') }}" alt="call-to-action">
    </div>
    <div class="container-fluid">
        <div class="row justify-content-end">
            <div class="col-lg-6">
                <div class="call-action-content text-center">
                    <h2 class="call-title">Canned Goods </h2>
                    <p class="text">Fresh, unoppened canned goods</p>
                </div> <!-- slider-content -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>

<section id="call-to-action" class="call-to-action">
    <div class="call-action-image">
        <img src="{{ url_for('static', filename='assets/images/Rocking_Chair.jpg') }}" alt="call-to-action">
    </div>
    <div class="container-fluid">
        <div class="row justify-content-end">
            <div class="col-lg-6">
                <div class="call-action-content text-center">
                    <h2 class="call-title">Rocking Chair</h2>
                    <p class="text">A well worn rocking chair. I've had it for over 20 years, but it simply hurts my back in this old
                        age now. If anyone wants it, by all means, come by 21st and Rockwell St. and you can pick it up! </p>
                </div> <!-- slider-content -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>

<section id="call-to-action" class="call-to-action">
    <div class="call-action-image">
        <img src="{{ url_for('static', filename='assets/images/Jeans.jpg') }}" alt="call-to-action">
    </div>
    <div class="container-fluid">
        <div class="row justify-content-end">
            <div class="col-lg-6">
                <div class="call-action-content text-center">
                    <h2 class="call-title">Good Ol' Denim</h2>
                    <p class="text">A very gracious man came by and dropped these off! They're mostly sized 30" at the waist, so if you think
                        that would fit, please come on by! We are located by the In N Out at the corner of Union Square! There are about 30 pairs,
                        but winter is around the corner and they will go soon!</p>
                </div> <!-- slider-content -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>


<!-- The below three Divs are sections for the original, troublesome layout. They essentially were an attempted inverse layout of the new above design as copied from the
main page. If you want a visual of the problem, refer to "Items_Problem_Page.png" Under the Images folder in the Static super folder. -->

<!-- 
<div id="listed-items-left" class="my-5">
    <div class="row py-4">
        <div class="col-lg-4 mb-4 my-lg-auto"> 
            <h1 class="text-dark font-weight-bold mb-3"> Canned Goods </h1>
            <p class="mb-4"> Fresh canned goods available on 3rd street to whoever can pick them up. Please come
                only after 5:00 P.M. They will be available until Thursday afternoon
            </p>
        </div>

        <div class="col-lg-8"><img src="{{ url_for('static', filename='assets/images/Canned_Goods.jpg') }}" alt="" class="w-100"> </div>
    </div>
</div>

<div id="listed-items-left" class="my-5">
    <div class="row py-4">
        <div class="col-lg-4 mb-4 my-lg-auto"> 
            <h1 class="text-dark font-weight-bold mb-3"> Rocking Chair </h1>
            <p class="mb-4"> A well worn rocking chair. I've had it for over 20 years, but it simply hurts my back in this old
                age now. If anyone wants it, by all means, come by 21st and Rockwell St. and you can pick it up! 
            </p>
        </div>

        <div class="col-lg-8"><img src="{{ url_for('static', filename='assets/images/Rocking_Chair.jpg') }}" alt="" class="w-100"> </div>
    </div>
</div>


<div id="listed-items-left" class="my-5">
    <div class="row py-4">
        <div class="col-lg-4 mb-4 my-lg-auto"> 
            <h1 class="text-dark font-weight-bold mb-3"> Good Ol' Reliable Denims</h1>
            <p class="mb-4"> A very gracious man came by and dropped these off! They're mostly sized 30" at the waist, so if you think
                that would fit, please come on by! We are located by the In N Out at the corner of Union Square!
            </p>
        </div>

        <div class="col-lg-8"><img src="{{ url_for('static', filename='assets/images/Jeans.jpg') }}" alt="" class="w-100"> </div>
    </div>
</div>

-->












{% endblock %}

<!-- This is the Third Block-->
{% block section %}









{% endblock %}

<!-- This is the Fourth Block-->
{% block contact %}











{% endblock %}