{% extends 'Inheritance.html' %}
<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/products.css') }}">

{% block details %}

<head>
    <title> Items </title>
</head>

<div id="carousel" class="carousel slide" data-ride="carousel" data-interval="5000">
    <!-- Carousel Content -->
    <div class="carousel-inner">

        <div class="carousel-item active">
            <img src="{{ url_for('static', filename='assets/images/Bag.jpg') }}" alt="" class="w-100">
            <div class="carousel-caption">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-8 bg-custom d-none d-md-block py-3 px-0" id="carousel-title">
                            <h1>Real Items</h1>
                            <div class="border-top border-secondary w-50 mx-auto my-3"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="carousel-item">
            <img src="{{ url_for('static', filename='assets/images/Real_People_Children.jpg') }}" alt="" class="w-100">
            <div class="carousel-caption">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-8 bg-custom d-none d-md-block py-3 px-0">
                            <h1>Real People</h1>
                            <div class="border-top border-secondary w-50 mx-auto my-3"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="carousel-item">
            <img src="{{ url_for('static', filename='assets/images/Woman.jpg') }}" alt="" class="w-100">
            <div class="carousel-caption">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-8 bg-custom d-none d-md-block py-3 px-0">
                            <h1>Real change</h1>
                            <div class="border-top border-secondary w-50 mx-auto my-3"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- End Carousel Content -->


    <!-- Previous & Next Buttons -->
    <a href="#carousel" class="carousel-control-prev" role="button" data-slide="prev">
        <span class="fas fa-arrow-left fa-2x"></span>
    </a>

    <a href="#carousel" class="carousel-control-next" role="button" data-slide="next">
        <span class="fas fa-arrow-right fa-2x"></span>
    </a>
    <!-- End Previous & Next Buttons -->


</div>

<!-- Two Column Section -->

<div class="container my-5">
    <div class="row py-4">

        <div class="col-lg-4 mb-4 my-lg-auto">
            <h1 class="text-dark font-weight-bold mb-3"> Jeans </h1>
            <p class="mb-4">These jeans were generously donated by someone who no longer needs them! Lightly used denim
                that are clean and washed. If you are betwee size 28 and 34, come on down to the little warehouse next to 
                the In N Out in Chinatown and grab a pair!
            </p>
        </div>

        <div class="col-lg-8"><img src="{{ url_for('static', filename='assets/images/Jeans.jpg') }}" alt="" class="w-100"></div>

    </div>
</div>

<div class="container my-5">
    <div class="row py-4">

        <div class="col-lg-4 mb-4 my-lg-auto">
            <h1 class="text-dark font-weight-bold mb-3"> Rocking Chair </h1>
            <p class="mb-4">This is my grandpa's rocking chair! Used for decades but certainly not worn. It's been a favorite chair,
                but right now it just takes up too much room. If anyone needs it - come meet me at 15th and 3rd!
            </p>
        </div>

        <div class="col-lg-8"><img src="{{ url_for('static', filename='assets/images/Rocking_Chair.jpg') }}" alt="" class="w-100"></div>

    </div>
</div>

<div class="container my-5">
    <div class="row py-4">

        <div class="col-lg-4 mb-4 my-lg-auto">
            <h1 class="text-dark font-weight-bold mb-3"> Canned Food </h1>
            <p class="mb-4"> Hi everyone! We know times are tough right now, so, we are having a canned food giveaway! If you want some groceries or 
                just a little security, come on by and grab a few cans. We have soups, vegetables, and all sorts of other foods here. Stop on by!
            </p>
        </div>

        <div class="col-lg-8"><img src="{{ url_for('static', filename='assets/images/Canned_Goods.jpg') }}" alt="" class="w-100"></div>

    </div>
</div>
<!-- End Two Column Section -->







{% endblock %}

