<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Resource List</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="keyword" content="Right Hand, Resource Site, Spd Project" />

  <link rel="stylesheet" href="styles/style.css">

</head>

<body>
    <table>
        <caption>Resource List</caption>
        <tr>
          <th>Name</th>
          <th>Type</th> 
          <th>Location</th>
        </tr>
        <tr>
          <td>Example Cafe</td>
          <td>Food</td> 
          <td>San Francisco</td>
        </tr>
        <tr>
          <td>Example Store</td>
          <td>Clothing</td> 
          <td>Oakland</td>
        </tr>
        <tr>
          <td>Example Cafe</td>
          <td>Food</td> 
          <td>San Francisco</td>
        </tr>
        <tr>
          <td>Example Store</td>
          <td>Clothing</td> 
          <td>Oakland</td>
        </tr>
      </table>
</body>
</html>