body {
  background-color: #ccd5ae;
}

header,
footer {
  background-color: #84a59d;
}

.main-page-anchors {
  background-color: #ffdd89;
  border: 1px solid #f5c856;
  border-radius: 10px;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}
